{% extends 'base.html' %}
{% block content %}

<div class="index-bg">
  <div class="container text-center">
    <h2>Discover New Cinema</h2>
    <p>Explore our wide selection of films and find your next favorite movie!</p>
    <a href="{% url 'movies.index' %}" class="btn btn-primary">Browse Movies</a>
  </div>
</div>

<section class="about-section">
    <div class="about-container">
        <h2>Our Site</h2>
        <p>Welcome to Movies Store, your go-to destination for an immersive cinematic experience. Browse through an extensive collection of movies, from timeless classics to the latest blockbusters, all from the comfort of your home.</p>
    </div>
</section>

{% endblock content %}