/* Page uses up all the space */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* footer stays at bottom while content expands */
.content {
    flex: 1;
    margin-top: 80px;
}

.ms-footer-bottom {
    margin-top: auto;
}

/* styles */
body {
    font-family: 'Roboto', serif;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #002147;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-nav {
    display: flex;
    gap: 15px;
    padding: 15px;
    margin-left: auto;
}

.navbar-nav .nav-link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

/* backgrounds */
.bg-dark {
    background: url("/static/img/banner-bg.png") no-repeat fixed;
    background-size: cover;
}

.ms-footer {
    background: url("/static/img/footer-bg.png") no-repeat fixed;
}

/* More styles */
footer {
    background: url("/static/img/footer-bg.png") no-repeat center center;
    background-size: cover;
    padding: 20px 10px;
    color: white;
    font-family: Roboto, serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    padding: 10px;
    min-width: 174px;
}

.footer-column a {
    color: black !important;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
    color: #f0f0f0;
}

/* more text centering for different sized screens */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-column {
        width: 100%;
        margin-bottom: 15px;
    }

    .footer-column h3 {
        text-align: center;
    }

    .footer-column ul {
        padding: 0;
        text-align: center;
    }
}

/* home index */
.index-bg {
    background: url("/static/img/popcorn-2.jpg") no-repeat center center;
    height: 45vh;
    width: 100%;
    background-size: cover;
    color: white;
    position: relative;
}

.index-bg .container {
    padding-top: 80px;
    padding-left: 20px;
}

/* forms */
.form-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}

.form-title {
    font-size: 24px;
    font-family: 'Roboto', serif;
    color: #002147;
    margin-bottom: 20px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* buttons */
.form-button {
    width: 100%;
    background-color: #4b872d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    font-family: 'Roboto', serif;
}

.form-button:hover {
    background-color: #3e7324;
}

.btn-reset {
    width: 100%;
    background-color: #3e7a28;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    font-family: 'Roboto', serif;
}

.btn-reset:hover {
    background-color: #2f5e1e;
}
